@import 'utils/*'
@import 'vars/*'
@import 'components/*'

body
  background-color black

.logo
  position absolute
  position fixed
  left 20px
  top @left
  z-index 10

  img
    width 100%
    max-width 250px

a
  color inherit
  text-decoration none

  &:visited
    color inherit

.background-frame
  position absolute
  width 100%
  height 100%
  content ''
  background-image url('../images/slideshow/woman.jpg')
  background-position 50% 50%
  background-size cover

  &::after
    background rgba(0,0,0,0.5)
    content ''
    width 100%
    height 100%
    position absolute
    top 0
    left 0

.representation {
  position absolute
  right 20px
  bottom 15px
  color #BEBFC1
  font-family helvetica, arial, sans-serif
  font-weight 600
  letter-spacing 0.1em
  font-size 13px
  line-height 15px
  text-align right
}


.main-content
  position absolute
  top 0
  left 0
  width 50%
  height 100%
  background-color rgba(255,255,255,0.8)
  overflow-y scroll
  padding 120px 20px 80px 20px
  left -50%
  transition left 0.5s

  &__menu
    position absolute
    left 20px
    font-size 18px
    bottom 20px
    color #BEBFC1
    font-family helvetica, arial, sans-serif
    font-weight 600
    line-height 15px
    transition left 0.5s

    &.is-open
      content 'Close'
      left 52%

  &.is-open
    left 0
