$device-small-up = "only screen and (min-width: 321px)"
$device-small-up-landscape = "only screen and (min-width: 321px) and (orientation: landscape)"
$device-mobile-landscape = "only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape)"
$device-tablet-portrait = "screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)"
$device-tablet-up = "only screen and (min-width: 768px)"
$device-until-fixed-width = "only screen and (min-width: 769px) and (max-width: 960px)"
$device-above-fixed-width = "only screen and (min-width: 960px)"
$device-double-density = "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)"
