@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$font-family = 'Lato', sans-serif
$baseline = 6px

$font-body = 300 14px\/22px $font-family
$font-small = 300 12px\/18px $font-family

h3
  color $c-text-color
  font-size 21px
  font-family $font-family
  font-weight 300
  line-height 1.5

body
  color $c-text-color
  font $font-body

strong
  font-weight 400

p
  margin-bottom $baseline * 2

.caption
  font $font-small
  text-align right
  margin $baseline 20px ($baseline * 3) 20px
