.menu-block

  &__container
    width 100%
    height 100%
    overflow-y scroll

  &__content
    width 70%
    float left
    padding-right 20px

    &--full-width
      width 100%
      padding 0

      p
        padding 0 20px 0 40px

    img
      width 100%

    &--half-width
      width 50%

    &--statement
      text-align center
      border-top 2px solid $c-text-color
      border-bottom 2px solid $c-text-color
      padding 20px 0
      margin 20px 0

  &__menu
    width 29%
    float left

    li
      border-top 2px solid $c-text-color
      padding ($baseline) 0
      margin-bottom $baseline
      width 100%

    &--light-list
      padding-top 10px
      width 49.5%

      li
        border-top none
        padding 2px 0

      ul
        margin-top 20px

  &__copyright
    text-align right
    margin-top 60px
