<div class="background-frame"></div>
  <div class="logo fadeIn">
    {{#link-to 'home'}}<img src="images/logo.png">{{/link-to}}
  </div>

<a class="main-content__menu {{if isOpen "is-open"}}" {{action "open"}}>Menu</a>

<div class="main-content {{if isOpen "is-open"}}">
{{liquid-outlet}}
</div>

<p class="representation fadeIn">
  Represented by Tobias Round <br />
  tround@theroundcompany.com
</p>
