<div class="background-frame"></div>
  <div class="logo fadeIn">
    {{#link-to 'home'}}<img src="images/logo.png">{{/link-to}}
  </div>

  {{#menu-block class="fadeIn"}}
  {{liquid-outlet}}
  {{/menu-block}}

<p class="representation fadeIn">
  Represented by Tobias Round <br />
  tround@theroundcompany.com
</p>
