{{#menu-block}}
<div class="menu-block__content menu-block__content--full-width">
  <a href="http://www.crane.tv/mapping-the-brain-through-ballet-the-story-behind-the-royal-ballet-s-connectome" target="_blank"><img src="images/biography/crane.jpg" alt="video mapping the brain using ballet"></a>
  <p class="caption">{{model.image.caption}}</p>

  {{#each model.copy as |line|}}
    <p>{{{line}}}</p>
  {{/each}}

  <p class="menu-block__copyright">{{{model.copyright}}}</p>
</div>
{{/menu-block}}
