<div class="menu-block__container">
  <div class="menu-block__content menu-block__content--half-width">
    <img src="images/galleries/rehersal.jpg">
  </div>
  <div class="menu-block__menu menu-block__menu--light-list">
    <strong>Productions include</strong>
    <ul>
      <li><button {{action "gallery"}}>+ Connectome</button></li>
      <li class="{{if isGallery "gallery-mode"}} test">+ Tanglewood</li>
      <li>+ Trespass</li>
      <li>+ Sensorium</li>
      <li>+ The Spirit of the Flame</li>
      <li>+ Children of Adam</li>
      <li>+ Backstage Gala, Naked Heart Fnd</li>
      <li>+ Portrait of a Dancer</li>
    </ul>
  </div>

  <div class="menu-block__content menu-block__content--full-width">
    <img src="images/galleries/logos.png" style="padding: 40px 60px;">
  </div>

</div>
