<div class="menu-block__container">
  <div class="menu-block__content">
    <h1>This is the galleries content</h1>
  </div>
  <div class="menu-block__menu">
    <p>This is the menu section</p>
  </div>
</div>
