{{#menu-block}}
<div class="menu-block__content">
  <img src="images/home/alastair.jpg" alt="Alastair Marriot at work">

  <div class="menu-block__content--statement">
    <h3>{{{model.title}}}</h3>
  </div>

  {{#each model.copy as |line|}}
    <p>{{{line}}}</p>
  {{/each}}

  <p class="menu-block__copyright">{{{model.copyright}}}</p>
</div>

<div class="menu-block__menu">
  <ul>
    <li>{{#link-to 'biography'}}Full biography{{/link-to}}</li>
    <li>{{#link-to 'galleries'}}Galleries{{/link-to}}</li>
  </ul>
</div>
{{/menu-block}}
